body {
    background-color: #353535;
    justify-content: center;
    align-items: center;
    margin: 80px;
    margin-left: 15%;
    width: 70%;
}

/*code {
    max-height: 350px;
    overflow: auto;
    scrollbar-width: thin;*/
    /* Firefox */
    /*scrollbar-color: #1e1e1e #707070;
    z-index: 0;
    min-width: 300px;
}*/

code::-webkit-scrollbar {
    width: 7px;
    height: 0px;
    border-radius: 7px;
    color: #1a1a1a;
}

code::-webkit-scrollbar-thumb {
    background: #707070;
    border-radius: 7px;
}

code::-webkit-scrollbar-track {
    background: #1e1e1e;
}

code::-webkit-scrollbar-corner {
    background-color: #1e1e1e;
}

.search-bar {
    border-radius: 20px;
    justify-content: flex-start;
    background-color: transparent;
    color: white;
    border: 1px solid;
    border-color: #565f89;
    padding-left: 10px;
    outline: 0;
    width: 130px;
    margin: 5px;
    transition: width 0.3s ease-in-out;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search-bar:focus {
    border-color: #7dcfff;
    width: 100%;
}

.lib-sources {
    cursor: grab;
    border-radius: 5px;
    position: fixed;
    overflow: auto;
    flex-direction: column;
    width: 50px;
    left: -2px;
    margin-left: -15px;
    top: 25%;
    height: auto;
    max-height: 50%;
    align-items: start;
    justify-content: center;
    z-index: -999999;
    opacity: 0.2;
    transition: all 0.3s ease-in-out;
}

.lib-sources:hover {
    opacity: 1;
    margin-left: 0px;
}

.lib-sources:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
    opacity: 1;
    margin-left: 0px;
}

.lib-sources::-webkit-scrollbar {
    width: 0px;
}

.white-lib-sources {
    width: 50%;
    color: black;
    background-color: #565f89;
    transition: all 0.3s ease-in-out;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.white-lib-sources:hover {
    color: #7dcfff;
    background-color: #f7768e;
    margin-top: 10px;
    width: 100%;
}

.black-lib-sources {
    width: 50%;
    color: #7dcfff;
    background-color: #1a1b26;
    transition: all 0.3s ease-in-out;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.black-lib-sources:hover {
    background-color: #f7768e;
    margin-top: 10px;
    width: 100%;
}

.select-lib {
    color: white;
    background-color: #f7768e;
    width: 75%;
}

.select-lib:hover {
    color: #f7768e;
    background-color: #ff4c6d;
    width: 100%;
}

.mark-place {
    color: orange;
    font-style: italic;
}

.mark-pinkred {
    color: #ff4c6d;
    font-weight: bolder;
}

.console-output::-webkit-scrollbar {
    width: 7px;
    height: 0px;
    border-radius: 7px;
    color: #969696;
}

.console-output::-webkit-scrollbar-thumb {
    background: #707070;
    border-radius: 7px;
}

#lib-draggablepanel {
    width: 30%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#lib-draggablepanel:hover {
    opacity: 0.5;
    width: 25%;
}

#lib-search-ex {
    width: 20%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#lib-search-ex:hover {
    opacity: 0.5;
    width: 15%;
}

#lib-search-inspector {
    width: 20%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#lib-search-inspector:hover {
    opacity: 0.5;
    width: 15%;
}

#option {
    background-color: #303030;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    rotate: 90deg;
    cursor: pointer;
}

#option:hover {
    background-color: #353535;
}

#option:active {
    background-color: #151515;
}